:root{

  --subWhite:#f4f4f4;
  --grayDD:#ddd;
  --ofertaGray:#57ff7b;

}

table {
  margin-top: 3%;
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid var(--grayDD);
}
th {
  background-color: var(--subWhite);
}
.promo {
  background-color: var(--ofertaGray);
}
h1{
  text-align: center;
  text-transform: uppercase;
}

.title{
  margin-top:  25%;
}
