body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

:root{

  --subWhite:#f4f4f4;

}

.main-content {
  padding: 20px;
}

.main-content div {
  margin-bottom: 30px;
}

aside {
  background-color: var(--subWhite);
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
}

.ad {
  margin-bottom: 20px;
}

.ad img {
  width: 100%;
}


main{
  margin-top: 17%;
}